/* *{border: 1px solid red;} */
body{
    font-family: 'Fredericka the Great', cursive;
}

section {
    width: 100%;
    min-height: 100%;
    height: auto;
    align-items: center;
    padding:  80px 20px 10px 10px;
}

h1 {
    font-size: 4em;
    font-weight: bolder;
}
p {
    font-size: 14px;
}

span{
    font-size: 14px;
}

.main-div {
    width:100%; 
    padding-left: 40px;
    align-items: center;
}

#home {
    background-image: url(../images/ocean.jpg);
    background-size: cover;
}

#home div div:first-child{
    width:60%; 
    display:inline-block; 
    vertical-align: top
}

.img-profile {
    width: 300;
    height: 300;
    /* border-radius: 20%;
    padding-left: 20px; */
}

#experience img {
    width: 200;
    height: 150;
    border-radius: 20%;
    padding: 10px;
}

#experience h2{
    text-align: center;
}

.div-experience {
    padding: 15px;
}

.experience-cards {
    padding: 10px;
}

.contact-img {
    width:48px;
    height: 48px;
    padding: 5px;
}
